# the secret token obtained from discord developer portal in the bot section
BOT_TOKEN=XXXX

# the language that the bot will use to send messages (the translation file should exists as ./lang/<language>.json)
LANGUAGE=es

# prefix that this bot will listen to in the server
COMMAND_PREFIX=$

# firebase REALTIME DATABASE uri
FIREBASE_DATABASE_URL=https://xxxxx.firebaseio.com/

# firebase REALTIME DATABASE credentials path, firebase authenticates using a whole JSON file
FIREBASE_CREDENTIALS_PATH=secrets/credentials.json

# giphy api key needed for the encode command (only used by the encode command, if not present a default gif will be used)
GIPHY_API_KEY=XXXX

# decode command, what password will be used to decode encoded messages
DECODE_PASSWORD=secret

# decode command, how many seconds we should wait before deleting something that we decoded in a channel
DECODE_AUTODESTROY_SECONDS=60